@import "tailwindcss";

/* Roboto and Work Sans Fontstyles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }

  .font-work-sans {
    font-family: "Work Sans", sans-serif;
  }
}
@theme {
  --color-secondary-100: #e6ffda;
  --color-secondary-200: #dcdddf;
  --color-secondary-400: #97989f;
  --color-secondary-500: #696a75;
  --color-secondary-600: #3b3c4a;
  --color-secondary-800: #181a2a;
  --color-secondary-900: #181a2a;

  --color-brand-green-900: #35651d;
  
  --color-brand-gray-300: #e8e8ea;
}
