@import "tailwindcss";

/* Roboto Fontstyle */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}
@theme {
  --color-secondary-100: #e6ffda;
  --color-secondary-500: #696A75;
  --color-secondary-600: #3B3C4A;
  --color-secondary-800: #181A2A;
  --color-secondary-900: #181A2A;
}
